In [1]:
a=10

In [2]:
a='c'

In [3]:
type(a)

str

In [4]:
int

int

In [5]:
int()

0

In [6]:
int("123")

123

In [7]:
print("Hello world")

Hello world

In [10]:
print("123")

123

In [11]:
age= 32
print(" my age is:", age)

 my age is: 32

In [16]:
# f string
print(f" My age is: {age}")

 My age is: 32

In [20]:
## format()
name= "Ashish"
age= 22
print("My name is {} and age is {}".format(name,age))

My name is Ashish and age is 22

In [21]:
##placeholder
print("My name is {firstname} and age is {firstage}".format(firstage=age, firstname=name))

My name is Ashish and age is 22

In [23]:
name= "Ashish"
age= 22
degree="BA"
print("My age is {} and i have completed : my degree of {} with the name {}".format(age,degree,name))

My age is 22 and i have completed : my degree of BA with the name Ashish

In [24]:
print(f" my age is {age} and i have completed: {degree} with the name {name}")

 my age is 22 and i have completed: BA with the name Ashish

In [25]:
print("My age is {age} and i have completed: my degree of {degree} with the name {name}".format(name=name, age=age, degree=degree))

My age is 22 and i have completed: my degree of BA with the name Ashish

In [26]:
### control flow
### Decision making statements

# If statement
age=18
if age>= 18:
    print("you can vote")

you can vote

In [27]:
input()

 ashish

'ashish'

In [28]:
name= input("what is your name?")

what is your name? Ashish

In [29]:
name

'Ashish'

In [1]:
age= int(input("enter your age"))

enter your age 22

In [2]:
age

22

In [3]:
type(age)

int

In [4]:
## Task
## take a input of age
## check whether age >= 18 and age<= 32
## display a message you are young blood

In [7]:
age=int(input("Enter the age"))
if age>= 18 and age<=32:
    print("you are young blood")

Enter the age 32

you are young blood

In [1]:
12>=17

False

In [2]:
#if else statement
age=int(input("Enter the age"))
if age>= 18 and age<=32:
    print("you are young blood")
else:
    print("Thank you, your application is rejected")

Enter the age 1

Thank you, your application is rejected

In [ ]:
## mall- input the product price
## product > 1000 rs 20 % off
## print the product price after discount
## product <= 1000 rs 30 % off
## print the product price after discount

In [3]:
product_price= int(input("Enter product price"))
if product_price> 1000:
    print("your mrp after discount:{}".format(product_price*0.8))
else:
    print("your mrp after discount:{}".format(product_price*0.7))

Enter product price 5000

your mrp after discount:4000.0

In [5]:
int(5000-(20/100)*5000)

4000

In [6]:
type(1000)

int

In [10]:
product_price= int(input("Enter price"))
if product_price > 1000:
    print(f"final price: {product_price*0.8}")
else:
          print(f"final pprice: {product_price*0.7}")

Enter price 2000

final price: 1600.0

In [ ]:
## mall- input the product price
## product > 3000 rs 20 % off
## print the product price after discount
## product  price== 4000
## you get a goa trip
## product >= 2000 rs and <=3000 30 % off
## print the product price after discount
## product <=1000 rs and <= 2000 40% off
## print the product price after discount

In [1]:
product_price= int(input("enter price:"))
if product_price> 3000:
    print("mrp: {}".format(product_price*0.8))
elif product_price >= 2000 and product_price<=3000:
    print("mrp: {}".format(product_price*0.7))
# nested if- if in if
if product_price == 4000:
    print("you get goa trip")
else:
    print("mrp:{}".format(product_price*0.6))

enter price: 4000

mrp: 3200.0
you get goa trip

In [12]:
product_price= int(input("enter price:"))
if product_price> 3000:
    print(f"mrp: {product_price*0.8}")
elif product_price >= 2000 and product_price<=3000:
    print(f"mrp: {product_price*0.7}")
else:
    print(f"mrp:{product_price*0.6}")

enter price: 5000

mrp: 4000.0

In [4]:
## single statement suites
val= int(input("Enter the number"))
if(val<=999):print("value is less than equal to 999")
else:
    print("Go home")

Enter the number 1000

Go home

In [1]:
print(2+1)

3

## Loops statements
1. while loop
2. for loops
3. nested loop
4 loop control(break, continue, pass)

In [14]:
# while loop, while else
joining_age= 25
while joining_age<= 60:
    print(joining_age)
    joining_age= joining_age+1
else:
    print("retirement")

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
retirement

In [15]:
## atm machine with 1000 rs
total_amount= 1000
while total_amount!=0:
    print(total_amount)
    total_amount=total_amount-100
else:
    print("put more money bank people")

1000
900
800
700
600
500
400
300
200
100
put more money bank people

## for loops

In [19]:
# list is collection of data structure
#list denoted by square bracket

lst= ["Ashish",1,2,3,4,"apple"]
type(lst)

list

In [20]:
lst[0]

'Ashish'

In [21]:
lst

['Ashish', 1, 2, 3, 4, 'apple']

In [22]:
for x in lst:
    print(x)

Ashish
1
2
3
4
apple

In [23]:
fruits_list= ["mango", "apple", "banana"]

In [26]:
for a in fruits_list:
    print(a)
    if a=="apple":
        print("apple is fruit")

mango
apple
apple is fruit
banana

In [29]:
fruit= "mango"
for x in fruit:
    print(x)

m
a
n
g
o

In [30]:
fruit[2]

'n'

In [31]:
fruit= "mango"
for x in fruit:
    print(x, end='')

mango

In [ ]:
## nested loops
n= 7

In [32]:
range(1,6)

range(1, 6)

In [33]:
## range
for i in range(1,6):
    print(i)

1
2
3
4
5

In [34]:
for i in range (1,6,2):
    print(i)

1
3
5

In [35]:
## nested loops
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*", end="")
    print("\r")

*
**
***
****
*****
******
*******

In [37]:
# equilateral triangle assignment

In [38]:
#loop controls
## break and continue

fruits_list= ["mango", "cherry", "apple", "papaya", "banana"]

In [41]:
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
        break
    print(i)

mango
cherry
the fruit is apple

In [42]:
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
        pass
    print(i)

mango
cherry
the fruit is apple
apple
papaya
banana

In [43]:
## continue
for i in fruits_list:
    if i=="apple":
        print("the fruit is apple")
        continue
    print(i)

mango
cherry
the fruit is apple
papaya
banana

In [1]:
## squARE
n=int(input("enter row"))
for i in range ( n):
    for j in range ( n):
        print ("*", end= "  ")
    print()

enter row 7

*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *
*  *  *  *  *  *  *

In [2]:
## INCREASING TRIANGLE
n= 5
for i in range (n):
    for j in range (i+1):
        print("*", end="  ")
    print()

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *

In [3]:
## DECREASING TRIANGLE
n= 5
for i in range (n):
    for j in range (i, n):
        print("*", end="  ")
    print()

*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [4]:
## RIGHT SIDED TRIANGLE
n= 5
for i in range (n):
    for j in range (i, n):
        print(" ", end = " ")
    for j in range (i+1):
        print("*", end =" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [6]:
## LEFT SIDED TRIANGLE
n= 5
for i in range (n):
    for j in range (i+1):
        print(" ", end=" ")
    for j in range (i,n):
        print("*", end = " ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [7]:
## EQUILATERAL TRIANGLE OR HILL PATTERN

In [8]:
n=5
for i in range (n):
    for j in range (i,n):
        print(" ", end=" ")
    for j in range (i+1):
        print("*", end= " ")
    for j in range(i+1):
        print("*", end= " ")
    print()

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

In [9]:
n=5
for i in range (n):
    for j in range (i,n):
        print(" ", end=" ")
    for j in range (i):
        print("*", end= " ")
    for j in range(i+1):
        print("*", end= " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [10]:
## REVERSE HILL PATTERN
n=5
for i in range (n):
    for j in range (i+1):
        print(" ", end=" ")
    for j in range (i,n-1):
        print("*", end= " ")
    for j in range(i,n):
        print("*", end= " ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [11]:
## DIAMOND PATTERN

In [12]:
n=5
for i in range (n):
    for j in range (i,n):
        print(" ", end=" ")
    for j in range (i):
        print("*", end= " ")
    for j in range(i+1):
        print("*", end= " ")
    print()
    

for i in range (n):
    for j in range (i+1):
        print(" ", end=" ")
    for j in range (i,n-1):
        print("*", end= " ")
    for j in range(i,n):
        print("*", end= " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [13]:
n=5
for i in range (n-1):
    for j in range (i,n):
        print(" ", end=" ")
    for j in range (i):
        print("*", end= " ")
    for j in range(i+1):
        print("*", end= " ")
    print()
    

for i in range (n):
    for j in range (i+1):
        print(" ", end=" ")
    for j in range (i,n-1):
        print("*", end= " ")
    for j in range(i,n):
        print("*", end= " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *